.cart {
  background-color: #f4f4f4;
  height: 100%;

  &__wrapper {
    max-width: 120rem;
    padding: 6rem 1.5rem 10rem;
    margin: 0 auto;

    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  &__title {
    padding-bottom: 3rem;
  }

  &__button {
    padding: 2.5rem;
  }

  &__total {
    color: #404040;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column;

      .title {
        margin: 1rem 0 2rem 0;
      }
    }

  }

  /*******    Empty Cart     ******/
  &_empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin: 4rem;
    }

    img {
      width: 20rem;
    }
  }
}




