.filter__section {
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        margin: 0 0 2rem 0;
    }
    &-title {
        padding: 0 0 2rem 0;
    }
    &-reset{
        text-align: center;
        padding: 1rem 0;
    }

    .size {
        justify-content: space-between;
    }

}



