.sort {

    @media screen and (max-width: 767.98px) {
        width: 100%;
        padding: 1rem 0 0 0;
    }

    &__title {
        color: #404040;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        margin-right: 2rem;

        @media screen and (max-width: 767.98px) {
            display: none;
        }
    }

    &__select {
        height: 4.5rem;
        border: 1px solid #dddddd;
        background-color: #f4f4f4;
        color: #404040;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        padding: 0 0 0 20px;
        width: 17.5rem;
        cursor: pointer;

        @media screen and (max-width: 767.98px) {
            width: 100%;
        }
    }

    &__button {
        display: none;

        @media screen and (max-width: 767.98px) {
           display: block;
            width: 100%;
            margin: 1rem 0 0 0;
            padding: 1.4rem;
        }
    }

}