.filter {
    .colors, .size {
        justify-content: flex-start;
    }

    &__button {
        display: none;

        @media screen and (max-width: 767.98px) {
            display: block;
            width: 100%;
            padding: 1.5rem 0;
            margin-top: -2rem;
        }
    }
}

.brand {
    &__item {
        color: #404040;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 700;
        cursor: pointer;
        padding: 1.5rem 0;

        &:before {
            /*font: normal normal normal 1.5rem FontAwesome;
            font-weight: 700;
            !*color: #ff4f37;*!
            margin-right: 1.5rem;
            content: "\f096";
            display: inline-block;*/
        }

        &_active {
            &:before {
                font: normal normal normal 1.5rem FontAwesome;
                font-weight: 700;
                color: #ff4f37;
                margin-right: 1.5rem;
                /*content: "\f046";*/
                /*content: "\f0fe";*/
                /*content: "\f196";*/
                /*content: "\f0c8";*/
                content: "\f00c";
                display: inline-block;
            }
        }
    }


}
