.tabs {
    &__labels {
        display: flex;
        justify-content: center;

    }
    &__content {
    }
    &__link{
        color: #404040;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.6;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: 1px solid #dddddd;
        background-color: #f4f4f4;
        width: 23rem;
        height: 6rem;
        cursor: pointer;

        &_active{
            background-color: #ffffff;
        }
    }
}
