.colors {

    display: flex;
    justify-content: center;
    margin: 2rem -.75rem -1.5rem;
    flex-wrap: wrap;


    &__name {
        font-size: 1.2rem;
    }

    &__item {
        cursor: pointer;
        width: 4.3rem;
        height: 4.3rem;
        margin: 0 .75rem 1.5rem;

        /*&:not(:last-child) {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
        }*/

        &_active:before {
            font: normal normal normal 1.5rem FontAwesome;
            color: #ff4f37;
            padding: 12px;
            content: "\f00c";
            display: inline-block;
        }

        /*****       Colors           *****/

        &[data-color=multicolor] {
            background: conic-gradient(red, orange, yellow, lime, deepskyblue,  blue, violet);
            order: -1;
            &.colors__item_active:before {
                color: #ffffff;
            }
        }
        &[data-color=black] {
            background-color: black;
        }
        &[data-color=white] {
            background-color: white;
            border: 1px solid #dddddd;

        }
        &[data-color=silver] {
            background-color: silver;
        }
        &[data-color=orange] {
            background-color: orange;
        }
        &[data-color=yellow] {
            background-color: yellow;
        }
        &[data-color=red] {
            background-color: #ff4f37;

            &.colors__item_active:before {
                color: #ffffff;
            }
        }
        &[data-color=blue] {
            background-color: blue;
        }
        &[data-color=chrome] {
            background-color: whitesmoke;
        }
        &[data-color=matte-black] {
            background-color: #3A3A3A;
        }
        &[data-color=matte-titanium] {
            background-color: lightgrey;
        }
    }
}



