.product {
    /*display: flex;
    height: 100%;
    justify-content: space-between;*/

    display: grid;
    grid-template-columns: 380px 1fr;
    height: calc(100vh - 10rem);

    @media screen and (max-width: 1199.98px) {
        grid-template-columns: 320px 1fr;
        height: calc(100vh - 15rem);
    }
    @media screen and (max-width: 991.98px) {
        grid-template-columns: 260px 1fr;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        text-align: right;


        &:after {
            font: normal normal normal 2rem FontAwesome;
            content: "\f054";
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;

        }
    }


}



