.product {
  &__button {
    padding: 2.5rem 0;
    /*margin-top: 4rem;*/
    width: 100%;
    max-width: 23.5rem;

    &_active {
      display: inline-block;

      &:before {
        font: normal normal normal 1.5rem FontAwesome;
        color: #ffffff;
        margin-right: 1rem;
        content: "\f00c";
        display: inline-block;
      }
    }
  }
}
