.home__slider {

  .slider {
    &__button {
      position: absolute;
      top: 50%;
      color: #ffffff;
      z-index: 2;
    }

    &__prev {
      left: 12rem;
    }

    &__next {
      right: 12rem;
    }

    &__dots {
      display: none;
    }

    &__title {
      font-size: 7.2rem;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 7.2rem;
      letter-spacing: 7.2px;
    }

    &__subtitle {
      font-size: 2.4rem;
      color: #ffffff;
      font-weight: 300;
      line-height: 3.6rem;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin-top: 5rem;
    }

    &__item {
      position: relative;

      &-img {
        max-width: none;
        width: 100%;
      }

      &-info {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &-content {
          z-index: 1;
          max-width: 55rem;
          text-align: left;
        }

        .button {
          padding: 2.5rem;
          margin-top: 5rem;
        }
      }
    }
  }
}
