.search {

  display: flex;
  border: 1px solid #dddddd;
  margin: 0 0 0 3rem;
  justify-content: space-between;

  @media screen and (max-width: 1199.98px) {
    order: 1;
    width: 100%;
    margin: 1rem auto 0;
  }

  @media screen and (max-width: 991.98px) {
    order: 0;
    width: 85%;
    margin: 1rem 0 0;
  }

  @media screen and (max-width: 767.98px) {
    flex-grow: 1;
    width: auto;
    margin: 0 2rem;
  }

  @media screen and (max-width: 479.98px) {
    display: none;
  }

  &__text {
    height: 5rem;
    padding-left: 1.8rem;
    border: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;

    &::placeholder {
      color: #808080;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 767.98px) {
      /*height: 3rem;*/
    }
  }

  &__button {
    border: 0;
    background: 0;
    color: #404040;
    padding: 0 1.8rem;
    cursor: pointer;

    &:hover {
      color: #ff4f37;
    }

    &:after {
      content: "\f002";
      display: inline-block;
      font: normal normal normal 2rem FontAwesome;
    }
  }
}